---
import { SITE, OG } from "@/config";

import "@fontsource/dm-mono";
import '../styles/base.scss';

import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/vue/BackToTop.vue';
import ThemeProvider from "../components/ThemeProvider.astro";

interface Props {
	title?: string;
	description?: string;
	author?: string;
	ogImage?:  string;
	canonicalURL?: string;
}

const { 
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
	ogImage = OG.ogImage,
	canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const ogImageURL = new URL(ogImage ?? "og-image.jpg", Astro.url.origin).href;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="canonical" href={canonicalURL} />
		<!-- rss auto discovery -->
		<link rel="alternate" type="application/rss+xml" title={SITE.title} href={`${SITE.website}rss.xml`} />

    <!-- General Meta Tags -->
		<title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

		<!-- Open Graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={ogImageURL} />

		<!-- docsearch -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"/></pre></li>
		
		<ViewTransitions />
		<ThemeProvider />
	</head>
	<body>
		<Header />
		<!-- 主要区块 -->
		<main class="relative px-7 py-10 overflow-x-hidden border-b border-b-slate-900/5 dark:border-b-slate-100/5">
			<!-- 网格背景 -->
			<div class="absolute inset-0 bg-grid-slate-900/[0.04] dark:bg-grid-slate-400/[0.05] bg-bottom"></div>
			<!-- prose 样式 -->
			<div class="relative mx-auto prose dark:prose-invert prose-img:rounded prose-img:border">
				<slot />
			</div>
		</main>
		<Footer />
		<BackToTop client:only="vue" />

		<!-- docsearch -->
		<script is:inline src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
		<script is:inline type="text/javascript" data-astro-rerun>
			docsearch({
				appId: "LQ49897Q17",
				apiKey: "6d9299b3fbdeec127738994dae7b0acc",
				indexName: "deore",
				container: '#docsearch',
				debug: true 
			});
		</script>
	</body>
</html>
